.home-page {

    margin : 200px  auto;
    background-color: white;
    border : 2px solid white;
    padding: 20px;
    height: auto;
    border-radius: 2%;
    width : 90% !important;;
    text-align: center;
}

.topside {
    overflow: auto;
    width: 100%;
    clear:both;
}

.navBar  {
    margin-left: 30px;

}

.bootstrapNewTopic,.bootstrapProfile,.bootstrapAdmin,.bootstrapLogOut {
    background: cadetblue;
    color:white;
    margin-left : 15px;
    margin-bottom : 15px;
}

.bootstrapProfile a {
    color : white !important;
}

.link {
    color : white;
}

.link:visited {
    color: white;
}

label {
    margin-top: 50px;
}



ul {
    list-style-type: none;
    text-align: center;
}
li {
    width: 40%;
    margin-left: 455px;
    margin-top : 100px !important;
    border-bottom: 2px solid black;

}

.render {
    margin-right: 150px;
}


a {
    color: cadetblue;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 20px;
}

a:active {
    color: white;
}

a:visited {
    color: cadetblue;
}

.poster1 {
    float:right;
}

.poster2 {
    float:left;
}

.poster3 {
    margin: 90px 0 0 83%;
}

.poster4 {
    position: absolute;
    margin-top: 100px ;
    left: 100px;
}

.poster1,.poster2, .poster3, .poster4 {
    display: inline;
    border-radius: 0;
}


nav {
    position:absolute !important;
}

#posts {
    position: absolute;
    top: 600px;
    bottom: 0;
    left: 100px;
    right: 0;
    display: block;
    align-items: center;
    flex-wrap: wrap;
}

#postsH1 {
    margin-right:100px;
}

img {
    height: 400px;
    border: 3px solid cadetblue;

}

.container1 {
    height: 50px;
    padding: 10px 15px;
    width: 5%;
    margin-right: 120px !important;
}