#postButtons {
    position: fixed;
}


.posts {
    margin-top:200px;
}



#card {
    text-align: center;
    margin:0 auto;
}


ul {
    list-style: none !important;
}

li {
    color : cadetblue;
    list-style: none;
}