#postButtons {
    position: fixed;
}


.posts {
    margin-top:200px;
}



#card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 800px;
    margin: auto;
    text-align: center;
    height: auto !important;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

ul {
    list-style: none !important;
}

li {
    color : cadetblue;
    list-style: none;
}