.container {
  box-sizing: content-box;
  border: cadetblue 10px solid;
  border-radius: 10px;
  height: 400px;
  padding: 10px;
  margin-left: 600px;
  margin-top: 200px;
  width: 35%;
  text-align: center;
}
input {
  margin-top: 30px;
  border: whitesmoke;
  border-radius: 10px;
  padding: 10px;
}

#buttons {
  margin-left: 10px;
}

.registerH1 {
  color: #4f6f8e;
  font-size: 50px;
  font-family: "Manjari Bold";
}
